/*
 * Palette API
 * Agent observability, evaluation, gating, and human-review APIs for Palette
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.palette.client.api;

import ai.palette.client.ApiClient;
import ai.palette.client.ApiException;
import ai.palette.client.ApiResponse;
import ai.palette.client.Pair;

import ai.palette.client.model.ArchiveManifest;
import ai.palette.client.model.ArchiveQueryResponse;
import ai.palette.client.model.ErrorResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class ArchiveApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ArchiveApi() {
    this(new ApiClient());
  }

  public ArchiveApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param traceId trace_id (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ArchiveManifest
   * @throws ApiException if fails to make API call
   */
  public ArchiveManifest archiveArchiveTrace(String tenantId, String projectId, String traceId, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<ArchiveManifest> localVarResponse = archiveArchiveTraceWithHttpInfo(tenantId, projectId, traceId, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param traceId trace_id (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;ArchiveManifest&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ArchiveManifest> archiveArchiveTraceWithHttpInfo(String tenantId, String projectId, String traceId, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = archiveArchiveTraceRequestBuilder(tenantId, projectId, traceId, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("archiveArchiveTrace", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ArchiveManifest>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ArchiveManifest>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ArchiveManifest>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder archiveArchiveTraceRequestBuilder(String tenantId, String projectId, String traceId, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling archiveArchiveTrace");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling archiveArchiveTrace");
    }
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling archiveArchiveTrace");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/archive/{tenant_id}/{project_id}/{trace_id}"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{trace_id}", ApiClient.urlEncode(traceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param environmentId  (optional)
   * @param traceId  (optional)
   * @param spanId  (optional)
   * @param kind  (optional)
   * @param status  (optional)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ArchiveQueryResponse
   * @throws ApiException if fails to make API call
   */
  public ArchiveQueryResponse archiveQuerySpans(String tenantId, String projectId, String environmentId, String traceId, String spanId, String kind, String status, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<ArchiveQueryResponse> localVarResponse = archiveQuerySpansWithHttpInfo(tenantId, projectId, environmentId, traceId, spanId, kind, status, limit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param environmentId  (optional)
   * @param traceId  (optional)
   * @param spanId  (optional)
   * @param kind  (optional)
   * @param status  (optional)
   * @param limit  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;ArchiveQueryResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ArchiveQueryResponse> archiveQuerySpansWithHttpInfo(String tenantId, String projectId, String environmentId, String traceId, String spanId, String kind, String status, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = archiveQuerySpansRequestBuilder(tenantId, projectId, environmentId, traceId, spanId, kind, status, limit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("archiveQuerySpans", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ArchiveQueryResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ArchiveQueryResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ArchiveQueryResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder archiveQuerySpansRequestBuilder(String tenantId, String projectId, String environmentId, String traceId, String spanId, String kind, String status, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling archiveQuerySpans");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling archiveQuerySpans");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/archive/{tenant_id}/{project_id}/spans"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "environment_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("environment_id", environmentId));
    localVarQueryParameterBaseName = "trace_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("trace_id", traceId));
    localVarQueryParameterBaseName = "span_id";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("span_id", spanId));
    localVarQueryParameterBaseName = "kind";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("kind", kind));
    localVarQueryParameterBaseName = "status";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
