/*
 * Palette API
 * Agent observability, evaluation, gating, and human-review APIs for Palette
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.palette.client.api;

import ai.palette.client.ApiClient;
import ai.palette.client.ApiException;
import ai.palette.client.ApiResponse;
import ai.palette.client.Pair;

import ai.palette.client.model.ConnectConnectorRequest;
import ai.palette.client.model.ConnectionLink;
import ai.palette.client.model.ConnectionStatus;
import ai.palette.client.model.ConnectorSkillsResponse;
import ai.palette.client.model.ConnectorTool;
import ai.palette.client.model.ErrorResponse;
import ai.palette.client.model.InvokeConnectorRequest;
import ai.palette.client.model.ToolExecution;
import ai.palette.client.model.Toolkit;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class ConnectorsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public ConnectorsApi() {
    this(new ApiClient());
  }

  public ConnectorsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param connectConnectorRequest  (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ConnectionLink
   * @throws ApiException if fails to make API call
   */
  public ConnectionLink connectorsConnect(String tenantId, String projectId, ConnectConnectorRequest connectConnectorRequest, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<ConnectionLink> localVarResponse = connectorsConnectWithHttpInfo(tenantId, projectId, connectConnectorRequest, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param connectConnectorRequest  (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;ConnectionLink&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConnectionLink> connectorsConnectWithHttpInfo(String tenantId, String projectId, ConnectConnectorRequest connectConnectorRequest, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectorsConnectRequestBuilder(tenantId, projectId, connectConnectorRequest, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("connectorsConnect", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ConnectionLink>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ConnectionLink>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ConnectionLink>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectorsConnectRequestBuilder(String tenantId, String projectId, ConnectConnectorRequest connectConnectorRequest, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling connectorsConnect");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling connectorsConnect");
    }
    // verify the required parameter 'connectConnectorRequest' is set
    if (connectConnectorRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'connectConnectorRequest' when calling connectorsConnect");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/connectors/{tenant_id}/{project_id}/connect"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(connectConnectorRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param toolkit Toolkit slug to scope the request to. (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ConnectorSkillsResponse
   * @throws ApiException if fails to make API call
   */
  public ConnectorSkillsResponse connectorsGetSkills(String tenantId, String projectId, String toolkit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<ConnectorSkillsResponse> localVarResponse = connectorsGetSkillsWithHttpInfo(tenantId, projectId, toolkit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param toolkit Toolkit slug to scope the request to. (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;ConnectorSkillsResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConnectorSkillsResponse> connectorsGetSkillsWithHttpInfo(String tenantId, String projectId, String toolkit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectorsGetSkillsRequestBuilder(tenantId, projectId, toolkit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("connectorsGetSkills", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ConnectorSkillsResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ConnectorSkillsResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ConnectorSkillsResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectorsGetSkillsRequestBuilder(String tenantId, String projectId, String toolkit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling connectorsGetSkills");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling connectorsGetSkills");
    }
    // verify the required parameter 'toolkit' is set
    if (toolkit == null) {
      throw new ApiException(400, "Missing the required parameter 'toolkit' when calling connectorsGetSkills");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/connectors/{tenant_id}/{project_id}/skills"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "toolkit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("toolkit", toolkit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param invokeConnectorRequest  (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ToolExecution
   * @throws ApiException if fails to make API call
   */
  public ToolExecution connectorsInvokeTool(String tenantId, String projectId, InvokeConnectorRequest invokeConnectorRequest, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<ToolExecution> localVarResponse = connectorsInvokeToolWithHttpInfo(tenantId, projectId, invokeConnectorRequest, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param invokeConnectorRequest  (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;ToolExecution&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ToolExecution> connectorsInvokeToolWithHttpInfo(String tenantId, String projectId, InvokeConnectorRequest invokeConnectorRequest, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectorsInvokeToolRequestBuilder(tenantId, projectId, invokeConnectorRequest, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("connectorsInvokeTool", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ToolExecution>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ToolExecution>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ToolExecution>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectorsInvokeToolRequestBuilder(String tenantId, String projectId, InvokeConnectorRequest invokeConnectorRequest, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling connectorsInvokeTool");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling connectorsInvokeTool");
    }
    // verify the required parameter 'invokeConnectorRequest' is set
    if (invokeConnectorRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'invokeConnectorRequest' when calling connectorsInvokeTool");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/connectors/{tenant_id}/{project_id}/invoke"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(invokeConnectorRequest);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param limit Maximum number of apps to return (page size). (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return List&lt;Toolkit&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Toolkit> connectorsList(String tenantId, String projectId, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<List<Toolkit>> localVarResponse = connectorsListWithHttpInfo(tenantId, projectId, limit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param limit Maximum number of apps to return (page size). (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;List&lt;Toolkit&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<Toolkit>> connectorsListWithHttpInfo(String tenantId, String projectId, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectorsListRequestBuilder(tenantId, projectId, limit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("connectorsList", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<Toolkit>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<Toolkit>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<Toolkit>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectorsListRequestBuilder(String tenantId, String projectId, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling connectorsList");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling connectorsList");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/connectors/{tenant_id}/{project_id}"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param toolkit Toolkit slug to list tools for. (required)
   * @param limit Maximum number of tools to return (page size). (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return List&lt;ConnectorTool&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ConnectorTool> connectorsListTools(String tenantId, String projectId, String toolkit, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<List<ConnectorTool>> localVarResponse = connectorsListToolsWithHttpInfo(tenantId, projectId, toolkit, limit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param toolkit Toolkit slug to list tools for. (required)
   * @param limit Maximum number of tools to return (page size). (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;List&lt;ConnectorTool&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<ConnectorTool>> connectorsListToolsWithHttpInfo(String tenantId, String projectId, String toolkit, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectorsListToolsRequestBuilder(tenantId, projectId, toolkit, limit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("connectorsListTools", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<ConnectorTool>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<ConnectorTool>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<ConnectorTool>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectorsListToolsRequestBuilder(String tenantId, String projectId, String toolkit, Integer limit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling connectorsListTools");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling connectorsListTools");
    }
    // verify the required parameter 'toolkit' is set
    if (toolkit == null) {
      throw new ApiException(400, "Missing the required parameter 'toolkit' when calling connectorsListTools");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/connectors/{tenant_id}/{project_id}/tools"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "toolkit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("toolkit", toolkit));
    localVarQueryParameterBaseName = "limit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("limit", limit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param toolkit Toolkit slug to scope the request to. (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ConnectionStatus
   * @throws ApiException if fails to make API call
   */
  public ConnectionStatus connectorsStatus(String tenantId, String projectId, String toolkit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<ConnectionStatus> localVarResponse = connectorsStatusWithHttpInfo(tenantId, projectId, toolkit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param projectId project_id (required)
   * @param toolkit Toolkit slug to scope the request to. (required)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;ConnectionStatus&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<ConnectionStatus> connectorsStatusWithHttpInfo(String tenantId, String projectId, String toolkit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectorsStatusRequestBuilder(tenantId, projectId, toolkit, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("connectorsStatus", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<ConnectionStatus>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<ConnectionStatus>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<ConnectionStatus>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectorsStatusRequestBuilder(String tenantId, String projectId, String toolkit, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling connectorsStatus");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling connectorsStatus");
    }
    // verify the required parameter 'toolkit' is set
    if (toolkit == null) {
      throw new ApiException(400, "Missing the required parameter 'toolkit' when calling connectorsStatus");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/connectors/{tenant_id}/{project_id}/status"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "toolkit";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("toolkit", toolkit));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
