/*
 * Palette API
 * Agent observability, evaluation, gating, and human-review APIs for Palette
 *
 * The version of the OpenAPI document: 0.1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package ai.palette.client.api;

import ai.palette.client.ApiClient;
import ai.palette.client.ApiException;
import ai.palette.client.ApiResponse;
import ai.palette.client.Pair;

import ai.palette.client.model.CanonicalSpan;
import ai.palette.client.model.ErrorResponse;
import ai.palette.client.model.SpanIoResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.ByteArrayInputStream;
import java.io.ByteArrayOutputStream;
import java.io.File;
import java.io.IOException;
import java.io.OutputStream;
import java.net.http.HttpRequest;
import java.nio.channels.Channels;
import java.nio.channels.Pipe;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.11.0")
public class SpansApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public SpansApi() {
    this(new ApiClient());
  }

  public SpansApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param traceId trace_id (required)
   * @param spanId span_id (required)
   * @param unmask  (optional)
   * @param reason  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return CanonicalSpan
   * @throws ApiException if fails to make API call
   */
  public CanonicalSpan spansGet(String tenantId, String traceId, String spanId, Boolean unmask, String reason, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<CanonicalSpan> localVarResponse = spansGetWithHttpInfo(tenantId, traceId, spanId, unmask, reason, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param traceId trace_id (required)
   * @param spanId span_id (required)
   * @param unmask  (optional)
   * @param reason  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;CanonicalSpan&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<CanonicalSpan> spansGetWithHttpInfo(String tenantId, String traceId, String spanId, Boolean unmask, String reason, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = spansGetRequestBuilder(tenantId, traceId, spanId, unmask, reason, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("spansGet", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<CanonicalSpan>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<CanonicalSpan>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<CanonicalSpan>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder spansGetRequestBuilder(String tenantId, String traceId, String spanId, Boolean unmask, String reason, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling spansGet");
    }
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling spansGet");
    }
    // verify the required parameter 'spanId' is set
    if (spanId == null) {
      throw new ApiException(400, "Missing the required parameter 'spanId' when calling spansGet");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/spans/{tenant_id}/{trace_id}/{span_id}"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{trace_id}", ApiClient.urlEncode(traceId.toString()))
        .replace("{span_id}", ApiClient.urlEncode(spanId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "unmask";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("unmask", unmask));
    localVarQueryParameterBaseName = "reason";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reason", reason));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param traceId trace_id (required)
   * @param spanId span_id (required)
   * @param unmask  (optional)
   * @param reason  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return SpanIoResponse
   * @throws ApiException if fails to make API call
   */
  public SpanIoResponse spansGetIo(String tenantId, String traceId, String spanId, Boolean unmask, String reason, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    ApiResponse<SpanIoResponse> localVarResponse = spansGetIoWithHttpInfo(tenantId, traceId, spanId, unmask, reason, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    return localVarResponse.getData();
  }

  /**
   * 
   * 
   * @param tenantId tenant_id (required)
   * @param traceId trace_id (required)
   * @param spanId span_id (required)
   * @param unmask  (optional)
   * @param reason  (optional)
   * @param authorization Bearer API token for strict auth (optional)
   * @param xPaletteApiKey API key alternative for strict auth (optional)
   * @param xPaletteProjectId Strict-auth project scope (optional)
   * @param xPaletteEnvironmentId Strict-auth environment scope (optional)
   * @return ApiResponse&lt;SpanIoResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<SpanIoResponse> spansGetIoWithHttpInfo(String tenantId, String traceId, String spanId, Boolean unmask, String reason, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = spansGetIoRequestBuilder(tenantId, traceId, spanId, unmask, reason, authorization, xPaletteApiKey, xPaletteProjectId, xPaletteEnvironmentId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("spansGetIo", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<SpanIoResponse>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<SpanIoResponse>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<SpanIoResponse>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder spansGetIoRequestBuilder(String tenantId, String traceId, String spanId, Boolean unmask, String reason, String authorization, String xPaletteApiKey, String xPaletteProjectId, String xPaletteEnvironmentId) throws ApiException {
    // verify the required parameter 'tenantId' is set
    if (tenantId == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantId' when calling spansGetIo");
    }
    // verify the required parameter 'traceId' is set
    if (traceId == null) {
      throw new ApiException(400, "Missing the required parameter 'traceId' when calling spansGetIo");
    }
    // verify the required parameter 'spanId' is set
    if (spanId == null) {
      throw new ApiException(400, "Missing the required parameter 'spanId' when calling spansGetIo");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/v1/spans/{tenant_id}/{trace_id}/{span_id}/io"
        .replace("{tenant_id}", ApiClient.urlEncode(tenantId.toString()))
        .replace("{trace_id}", ApiClient.urlEncode(traceId.toString()))
        .replace("{span_id}", ApiClient.urlEncode(spanId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "unmask";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("unmask", unmask));
    localVarQueryParameterBaseName = "reason";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("reason", reason));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (authorization != null) {
      localVarRequestBuilder.header("authorization", authorization.toString());
    }
    if (xPaletteApiKey != null) {
      localVarRequestBuilder.header("x-palette-api-key", xPaletteApiKey.toString());
    }
    if (xPaletteProjectId != null) {
      localVarRequestBuilder.header("x-palette-project-id", xPaletteProjectId.toString());
    }
    if (xPaletteEnvironmentId != null) {
      localVarRequestBuilder.header("x-palette-environment-id", xPaletteEnvironmentId.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
