/*
Palette API

Agent observability, evaluation, gating, and human-review APIs for Palette

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package paletteclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ScenariosAPIService ScenariosAPI service
type ScenariosAPIService service

type ApiScenariosCreateScenarioRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	createScenarioRequest *CreateScenarioRequest
	authorization *string
	xPaletteApiKey *string
	xPaletteProjectId *string
	xPaletteEnvironmentId *string
}

func (r ApiScenariosCreateScenarioRequest) CreateScenarioRequest(createScenarioRequest CreateScenarioRequest) ApiScenariosCreateScenarioRequest {
	r.createScenarioRequest = &createScenarioRequest
	return r
}

// Bearer API token for strict auth
func (r ApiScenariosCreateScenarioRequest) Authorization(authorization string) ApiScenariosCreateScenarioRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiScenariosCreateScenarioRequest) XPaletteApiKey(xPaletteApiKey string) ApiScenariosCreateScenarioRequest {
	r.xPaletteApiKey = &xPaletteApiKey
	return r
}

// Strict-auth project scope
func (r ApiScenariosCreateScenarioRequest) XPaletteProjectId(xPaletteProjectId string) ApiScenariosCreateScenarioRequest {
	r.xPaletteProjectId = &xPaletteProjectId
	return r
}

// Strict-auth environment scope
func (r ApiScenariosCreateScenarioRequest) XPaletteEnvironmentId(xPaletteEnvironmentId string) ApiScenariosCreateScenarioRequest {
	r.xPaletteEnvironmentId = &xPaletteEnvironmentId
	return r
}

func (r ApiScenariosCreateScenarioRequest) Execute() (*Scenario, *http.Response, error) {
	return r.ApiService.ScenariosCreateScenarioExecute(r)
}

/*
ScenariosCreateScenario Method for ScenariosCreateScenario

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @return ApiScenariosCreateScenarioRequest
*/
func (a *ScenariosAPIService) ScenariosCreateScenario(ctx context.Context, tenantId string, projectId string) ApiScenariosCreateScenarioRequest {
	return ApiScenariosCreateScenarioRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return Scenario
func (a *ScenariosAPIService) ScenariosCreateScenarioExecute(r ApiScenariosCreateScenarioRequest) (*Scenario, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Scenario
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.ScenariosCreateScenario")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createScenarioRequest == nil {
		return localVarReturnValue, nil, reportError("createScenarioRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xPaletteApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-api-key", r.xPaletteApiKey, "simple", "")
	}
	if r.xPaletteProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-project-id", r.xPaletteProjectId, "simple", "")
	}
	if r.xPaletteEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-environment-id", r.xPaletteEnvironmentId, "simple", "")
	}
	// body params
	localVarPostBody = r.createScenarioRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScenariosGetScenarioRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	scenarioId string
	authorization *string
	xPaletteApiKey *string
	xPaletteProjectId *string
	xPaletteEnvironmentId *string
}

// Bearer API token for strict auth
func (r ApiScenariosGetScenarioRequest) Authorization(authorization string) ApiScenariosGetScenarioRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiScenariosGetScenarioRequest) XPaletteApiKey(xPaletteApiKey string) ApiScenariosGetScenarioRequest {
	r.xPaletteApiKey = &xPaletteApiKey
	return r
}

// Strict-auth project scope
func (r ApiScenariosGetScenarioRequest) XPaletteProjectId(xPaletteProjectId string) ApiScenariosGetScenarioRequest {
	r.xPaletteProjectId = &xPaletteProjectId
	return r
}

// Strict-auth environment scope
func (r ApiScenariosGetScenarioRequest) XPaletteEnvironmentId(xPaletteEnvironmentId string) ApiScenariosGetScenarioRequest {
	r.xPaletteEnvironmentId = &xPaletteEnvironmentId
	return r
}

func (r ApiScenariosGetScenarioRequest) Execute() (*Scenario, *http.Response, error) {
	return r.ApiService.ScenariosGetScenarioExecute(r)
}

/*
ScenariosGetScenario Method for ScenariosGetScenario

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @param scenarioId scenario_id
 @return ApiScenariosGetScenarioRequest
*/
func (a *ScenariosAPIService) ScenariosGetScenario(ctx context.Context, tenantId string, projectId string, scenarioId string) ApiScenariosGetScenarioRequest {
	return ApiScenariosGetScenarioRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
		scenarioId: scenarioId,
	}
}

// Execute executes the request
//  @return Scenario
func (a *ScenariosAPIService) ScenariosGetScenarioExecute(r ApiScenariosGetScenarioRequest) (*Scenario, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Scenario
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.ScenariosGetScenario")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}/{scenario_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"scenario_id"+"}", url.PathEscape(parameterValueToString(r.scenarioId, "scenarioId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xPaletteApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-api-key", r.xPaletteApiKey, "simple", "")
	}
	if r.xPaletteProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-project-id", r.xPaletteProjectId, "simple", "")
	}
	if r.xPaletteEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-environment-id", r.xPaletteEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScenariosListScenariosRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	limit *int32
	cursor *string
	authorization *string
	xPaletteApiKey *string
	xPaletteProjectId *string
	xPaletteEnvironmentId *string
}

func (r ApiScenariosListScenariosRequest) Limit(limit int32) ApiScenariosListScenariosRequest {
	r.limit = &limit
	return r
}

func (r ApiScenariosListScenariosRequest) Cursor(cursor string) ApiScenariosListScenariosRequest {
	r.cursor = &cursor
	return r
}

// Bearer API token for strict auth
func (r ApiScenariosListScenariosRequest) Authorization(authorization string) ApiScenariosListScenariosRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiScenariosListScenariosRequest) XPaletteApiKey(xPaletteApiKey string) ApiScenariosListScenariosRequest {
	r.xPaletteApiKey = &xPaletteApiKey
	return r
}

// Strict-auth project scope
func (r ApiScenariosListScenariosRequest) XPaletteProjectId(xPaletteProjectId string) ApiScenariosListScenariosRequest {
	r.xPaletteProjectId = &xPaletteProjectId
	return r
}

// Strict-auth environment scope
func (r ApiScenariosListScenariosRequest) XPaletteEnvironmentId(xPaletteEnvironmentId string) ApiScenariosListScenariosRequest {
	r.xPaletteEnvironmentId = &xPaletteEnvironmentId
	return r
}

func (r ApiScenariosListScenariosRequest) Execute() (*ListScenariosResponse, *http.Response, error) {
	return r.ApiService.ScenariosListScenariosExecute(r)
}

/*
ScenariosListScenarios Method for ScenariosListScenarios

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @return ApiScenariosListScenariosRequest
*/
func (a *ScenariosAPIService) ScenariosListScenarios(ctx context.Context, tenantId string, projectId string) ApiScenariosListScenariosRequest {
	return ApiScenariosListScenariosRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ListScenariosResponse
func (a *ScenariosAPIService) ScenariosListScenariosExecute(r ApiScenariosListScenariosRequest) (*ListScenariosResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListScenariosResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.ScenariosListScenarios")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xPaletteApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-api-key", r.xPaletteApiKey, "simple", "")
	}
	if r.xPaletteProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-project-id", r.xPaletteProjectId, "simple", "")
	}
	if r.xPaletteEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-environment-id", r.xPaletteEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScenariosMineScenariosRequest struct {
	ctx context.Context
	ApiService *ScenariosAPIService
	tenantId string
	projectId string
	mineScenariosRequest *MineScenariosRequest
	authorization *string
	xPaletteApiKey *string
	xPaletteProjectId *string
	xPaletteEnvironmentId *string
}

func (r ApiScenariosMineScenariosRequest) MineScenariosRequest(mineScenariosRequest MineScenariosRequest) ApiScenariosMineScenariosRequest {
	r.mineScenariosRequest = &mineScenariosRequest
	return r
}

// Bearer API token for strict auth
func (r ApiScenariosMineScenariosRequest) Authorization(authorization string) ApiScenariosMineScenariosRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiScenariosMineScenariosRequest) XPaletteApiKey(xPaletteApiKey string) ApiScenariosMineScenariosRequest {
	r.xPaletteApiKey = &xPaletteApiKey
	return r
}

// Strict-auth project scope
func (r ApiScenariosMineScenariosRequest) XPaletteProjectId(xPaletteProjectId string) ApiScenariosMineScenariosRequest {
	r.xPaletteProjectId = &xPaletteProjectId
	return r
}

// Strict-auth environment scope
func (r ApiScenariosMineScenariosRequest) XPaletteEnvironmentId(xPaletteEnvironmentId string) ApiScenariosMineScenariosRequest {
	r.xPaletteEnvironmentId = &xPaletteEnvironmentId
	return r
}

func (r ApiScenariosMineScenariosRequest) Execute() (*MineScenariosResponse, *http.Response, error) {
	return r.ApiService.ScenariosMineScenariosExecute(r)
}

/*
ScenariosMineScenarios Method for ScenariosMineScenarios

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @return ApiScenariosMineScenariosRequest
*/
func (a *ScenariosAPIService) ScenariosMineScenarios(ctx context.Context, tenantId string, projectId string) ApiScenariosMineScenariosRequest {
	return ApiScenariosMineScenariosRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return MineScenariosResponse
func (a *ScenariosAPIService) ScenariosMineScenariosExecute(r ApiScenariosMineScenariosRequest) (*MineScenariosResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MineScenariosResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScenariosAPIService.ScenariosMineScenarios")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/scenarios/{tenant_id}/{project_id}/mine"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mineScenariosRequest == nil {
		return localVarReturnValue, nil, reportError("mineScenariosRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xPaletteApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-api-key", r.xPaletteApiKey, "simple", "")
	}
	if r.xPaletteProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-project-id", r.xPaletteProjectId, "simple", "")
	}
	if r.xPaletteEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-environment-id", r.xPaletteEnvironmentId, "simple", "")
	}
	// body params
	localVarPostBody = r.mineScenariosRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
