/*
Palette API

Agent observability, evaluation, gating, and human-review APIs for Palette

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package paletteclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SearchAPIService SearchAPI service
type SearchAPIService service

type ApiSearchSpansRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	tenantId string
	q *string
	projectId *string
	environmentId *string
	traceId *string
	spanId *string
	kind *string
	status *string
	model *string
	tool *string
	pageSize *int32
	pageToken *string
	authorization *string
	xPaletteApiKey *string
	xPaletteProjectId *string
	xPaletteEnvironmentId *string
}

func (r ApiSearchSpansRequest) Q(q string) ApiSearchSpansRequest {
	r.q = &q
	return r
}

func (r ApiSearchSpansRequest) ProjectId(projectId string) ApiSearchSpansRequest {
	r.projectId = &projectId
	return r
}

func (r ApiSearchSpansRequest) EnvironmentId(environmentId string) ApiSearchSpansRequest {
	r.environmentId = &environmentId
	return r
}

func (r ApiSearchSpansRequest) TraceId(traceId string) ApiSearchSpansRequest {
	r.traceId = &traceId
	return r
}

func (r ApiSearchSpansRequest) SpanId(spanId string) ApiSearchSpansRequest {
	r.spanId = &spanId
	return r
}

func (r ApiSearchSpansRequest) Kind(kind string) ApiSearchSpansRequest {
	r.kind = &kind
	return r
}

func (r ApiSearchSpansRequest) Status(status string) ApiSearchSpansRequest {
	r.status = &status
	return r
}

func (r ApiSearchSpansRequest) Model(model string) ApiSearchSpansRequest {
	r.model = &model
	return r
}

func (r ApiSearchSpansRequest) Tool(tool string) ApiSearchSpansRequest {
	r.tool = &tool
	return r
}

func (r ApiSearchSpansRequest) PageSize(pageSize int32) ApiSearchSpansRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiSearchSpansRequest) PageToken(pageToken string) ApiSearchSpansRequest {
	r.pageToken = &pageToken
	return r
}

// Bearer API token for strict auth
func (r ApiSearchSpansRequest) Authorization(authorization string) ApiSearchSpansRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiSearchSpansRequest) XPaletteApiKey(xPaletteApiKey string) ApiSearchSpansRequest {
	r.xPaletteApiKey = &xPaletteApiKey
	return r
}

// Strict-auth project scope
func (r ApiSearchSpansRequest) XPaletteProjectId(xPaletteProjectId string) ApiSearchSpansRequest {
	r.xPaletteProjectId = &xPaletteProjectId
	return r
}

// Strict-auth environment scope
func (r ApiSearchSpansRequest) XPaletteEnvironmentId(xPaletteEnvironmentId string) ApiSearchSpansRequest {
	r.xPaletteEnvironmentId = &xPaletteEnvironmentId
	return r
}

func (r ApiSearchSpansRequest) Execute() (*SearchSpanListResponse, *http.Response, error) {
	return r.ApiService.SearchSpansExecute(r)
}

/*
SearchSpans Method for SearchSpans

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @return ApiSearchSpansRequest
*/
func (a *SearchAPIService) SearchSpans(ctx context.Context, tenantId string) ApiSearchSpansRequest {
	return ApiSearchSpansRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return SearchSpanListResponse
func (a *SearchAPIService) SearchSpansExecute(r ApiSearchSpansRequest) (*SearchSpanListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchSpanListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchSpans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/{tenantId}/spans"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.environmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environmentId", r.environmentId, "form", "")
	}
	if r.traceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceId", r.traceId, "form", "")
	}
	if r.spanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "spanId", r.spanId, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.tool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tool", r.tool, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xPaletteApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-api-key", r.xPaletteApiKey, "simple", "")
	}
	if r.xPaletteProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-project-id", r.xPaletteProjectId, "simple", "")
	}
	if r.xPaletteEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-environment-id", r.xPaletteEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v Status
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
