/*
Palette API

Agent observability, evaluation, gating, and human-review APIs for Palette

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package paletteclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SpansAPIService SpansAPI service
type SpansAPIService service

type ApiSpansGetRequest struct {
	ctx context.Context
	ApiService *SpansAPIService
	tenantId string
	traceId string
	spanId string
	unmask *bool
	reason *string
	authorization *string
	xPaletteApiKey *string
	xPaletteProjectId *string
	xPaletteEnvironmentId *string
}

func (r ApiSpansGetRequest) Unmask(unmask bool) ApiSpansGetRequest {
	r.unmask = &unmask
	return r
}

func (r ApiSpansGetRequest) Reason(reason string) ApiSpansGetRequest {
	r.reason = &reason
	return r
}

// Bearer API token for strict auth
func (r ApiSpansGetRequest) Authorization(authorization string) ApiSpansGetRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiSpansGetRequest) XPaletteApiKey(xPaletteApiKey string) ApiSpansGetRequest {
	r.xPaletteApiKey = &xPaletteApiKey
	return r
}

// Strict-auth project scope
func (r ApiSpansGetRequest) XPaletteProjectId(xPaletteProjectId string) ApiSpansGetRequest {
	r.xPaletteProjectId = &xPaletteProjectId
	return r
}

// Strict-auth environment scope
func (r ApiSpansGetRequest) XPaletteEnvironmentId(xPaletteEnvironmentId string) ApiSpansGetRequest {
	r.xPaletteEnvironmentId = &xPaletteEnvironmentId
	return r
}

func (r ApiSpansGetRequest) Execute() (*CanonicalSpan, *http.Response, error) {
	return r.ApiService.SpansGetExecute(r)
}

/*
SpansGet Method for SpansGet

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param traceId trace_id
 @param spanId span_id
 @return ApiSpansGetRequest
*/
func (a *SpansAPIService) SpansGet(ctx context.Context, tenantId string, traceId string, spanId string) ApiSpansGetRequest {
	return ApiSpansGetRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		traceId: traceId,
		spanId: spanId,
	}
}

// Execute executes the request
//  @return CanonicalSpan
func (a *SpansAPIService) SpansGetExecute(r ApiSpansGetRequest) (*CanonicalSpan, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CanonicalSpan
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpansAPIService.SpansGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/spans/{tenant_id}/{trace_id}/{span_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trace_id"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"span_id"+"}", url.PathEscape(parameterValueToString(r.spanId, "spanId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.unmask != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unmask", r.unmask, "form", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xPaletteApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-api-key", r.xPaletteApiKey, "simple", "")
	}
	if r.xPaletteProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-project-id", r.xPaletteProjectId, "simple", "")
	}
	if r.xPaletteEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-environment-id", r.xPaletteEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSpansGetIoRequest struct {
	ctx context.Context
	ApiService *SpansAPIService
	tenantId string
	traceId string
	spanId string
	unmask *bool
	reason *string
	authorization *string
	xPaletteApiKey *string
	xPaletteProjectId *string
	xPaletteEnvironmentId *string
}

func (r ApiSpansGetIoRequest) Unmask(unmask bool) ApiSpansGetIoRequest {
	r.unmask = &unmask
	return r
}

func (r ApiSpansGetIoRequest) Reason(reason string) ApiSpansGetIoRequest {
	r.reason = &reason
	return r
}

// Bearer API token for strict auth
func (r ApiSpansGetIoRequest) Authorization(authorization string) ApiSpansGetIoRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiSpansGetIoRequest) XPaletteApiKey(xPaletteApiKey string) ApiSpansGetIoRequest {
	r.xPaletteApiKey = &xPaletteApiKey
	return r
}

// Strict-auth project scope
func (r ApiSpansGetIoRequest) XPaletteProjectId(xPaletteProjectId string) ApiSpansGetIoRequest {
	r.xPaletteProjectId = &xPaletteProjectId
	return r
}

// Strict-auth environment scope
func (r ApiSpansGetIoRequest) XPaletteEnvironmentId(xPaletteEnvironmentId string) ApiSpansGetIoRequest {
	r.xPaletteEnvironmentId = &xPaletteEnvironmentId
	return r
}

func (r ApiSpansGetIoRequest) Execute() (*SpanIoResponse, *http.Response, error) {
	return r.ApiService.SpansGetIoExecute(r)
}

/*
SpansGetIo Method for SpansGetIo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param traceId trace_id
 @param spanId span_id
 @return ApiSpansGetIoRequest
*/
func (a *SpansAPIService) SpansGetIo(ctx context.Context, tenantId string, traceId string, spanId string) ApiSpansGetIoRequest {
	return ApiSpansGetIoRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		traceId: traceId,
		spanId: spanId,
	}
}

// Execute executes the request
//  @return SpanIoResponse
func (a *SpansAPIService) SpansGetIoExecute(r ApiSpansGetIoRequest) (*SpanIoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SpanIoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpansAPIService.SpansGetIo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/spans/{tenant_id}/{trace_id}/{span_id}/io"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trace_id"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"span_id"+"}", url.PathEscape(parameterValueToString(r.spanId, "spanId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.unmask != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unmask", r.unmask, "form", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xPaletteApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-api-key", r.xPaletteApiKey, "simple", "")
	}
	if r.xPaletteProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-project-id", r.xPaletteProjectId, "simple", "")
	}
	if r.xPaletteEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-palette-environment-id", r.xPaletteEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
