=begin
#Beater API

#Agent observability, evaluation, gating, and human-review APIs for Beater

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module BeaterClient
  class ArchiveApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param trace_id [String] trace_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [ArchiveManifest]
    def archive_trace(tenant_id, project_id, trace_id, opts = {})
      data, _status_code, _headers = archive_trace_with_http_info(tenant_id, project_id, trace_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param trace_id [String] trace_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(ArchiveManifest, Integer, Hash)>] ArchiveManifest data, response status code and response headers
    def archive_trace_with_http_info(tenant_id, project_id, trace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArchiveApi.archive_trace ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ArchiveApi.archive_trace"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ArchiveApi.archive_trace"
      end
      # verify the required parameter 'trace_id' is set
      if @api_client.config.client_side_validation && trace_id.nil?
        fail ArgumentError, "Missing the required parameter 'trace_id' when calling ArchiveApi.archive_trace"
      end
      # resource path
      local_var_path = '/v1/archive/{tenant_id}/{project_id}/{trace_id}'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'trace_id' + '}', CGI.escape(trace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ArchiveManifest'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ArchiveApi.archive_trace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArchiveApi#archive_trace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :environment_id 
    # @option opts [String] :trace_id 
    # @option opts [String] :span_id 
    # @option opts [String] :kind 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [ArchiveQueryResponse]
    def query_archive_spans(tenant_id, project_id, opts = {})
      data, _status_code, _headers = query_archive_spans_with_http_info(tenant_id, project_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :environment_id 
    # @option opts [String] :trace_id 
    # @option opts [String] :span_id 
    # @option opts [String] :kind 
    # @option opts [String] :status 
    # @option opts [Integer] :limit 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(ArchiveQueryResponse, Integer, Hash)>] ArchiveQueryResponse data, response status code and response headers
    def query_archive_spans_with_http_info(tenant_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ArchiveApi.query_archive_spans ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ArchiveApi.query_archive_spans"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ArchiveApi.query_archive_spans"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ArchiveApi.query_archive_spans, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/archive/{tenant_id}/{project_id}/spans'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'environment_id'] = opts[:'environment_id'] if !opts[:'environment_id'].nil?
      query_params[:'trace_id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      query_params[:'span_id'] = opts[:'span_id'] if !opts[:'span_id'].nil?
      query_params[:'kind'] = opts[:'kind'] if !opts[:'kind'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ArchiveQueryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ArchiveApi.query_archive_spans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ArchiveApi#query_archive_spans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
