=begin
#Beater API

#Agent observability, evaluation, gating, and human-review APIs for Beater

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module BeaterClient
  class AuditApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<AuditEvent>]
    def list_audit_events(tenant_id, project_id, opts = {})
      data, _status_code, _headers = list_audit_events_with_http_info(tenant_id, project_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(Array<AuditEvent>, Integer, Hash)>] Array<AuditEvent> data, response status code and response headers
    def list_audit_events_with_http_info(tenant_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuditApi.list_audit_events ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AuditApi.list_audit_events"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AuditApi.list_audit_events"
      end
      # resource path
      local_var_path = '/v1/audit/{tenant_id}/{project_id}'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AuditEvent>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuditApi.list_audit_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuditApi#list_audit_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
