=begin
#Beater API

#Agent observability, evaluation, gating, and human-review APIs for Beater

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module BeaterClient
  class IngestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [TraceIngestedDrainReport]
    def drain_trace_ingested(tenant_id, project_id, opts = {})
      data, _status_code, _headers = drain_trace_ingested_with_http_info(tenant_id, project_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(TraceIngestedDrainReport, Integer, Hash)>] TraceIngestedDrainReport data, response status code and response headers
    def drain_trace_ingested_with_http_info(tenant_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.drain_trace_ingested ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IngestApi.drain_trace_ingested"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling IngestApi.drain_trace_ingested"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling IngestApi.drain_trace_ingested, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/ingest/{tenant_id}/{project_id}/trace-ingested/drain'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TraceIngestedDrainReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.drain_trace_ingested",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#drain_trace_ingested\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [TraceWriteDrainReport]
    def drain_trace_writes(tenant_id, project_id, opts = {})
      data, _status_code, _headers = drain_trace_writes_with_http_info(tenant_id, project_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(TraceWriteDrainReport, Integer, Hash)>] TraceWriteDrainReport data, response status code and response headers
    def drain_trace_writes_with_http_info(tenant_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.drain_trace_writes ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IngestApi.drain_trace_writes"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling IngestApi.drain_trace_writes"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling IngestApi.drain_trace_writes, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/ingest/{tenant_id}/{project_id}/trace-writes/drain'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TraceWriteDrainReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.drain_trace_writes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#drain_trace_writes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [IngestQueueStatus]
    def get_ingest_queue_status(tenant_id, project_id, opts = {})
      data, _status_code, _headers = get_ingest_queue_status_with_http_info(tenant_id, project_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(IngestQueueStatus, Integer, Hash)>] IngestQueueStatus data, response status code and response headers
    def get_ingest_queue_status_with_http_info(tenant_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.get_ingest_queue_status ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IngestApi.get_ingest_queue_status"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling IngestApi.get_ingest_queue_status"
      end
      # resource path
      local_var_path = '/v1/ingest/{tenant_id}/{project_id}/queue'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IngestQueueStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.get_ingest_queue_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#get_ingest_queue_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param environment_id [String] environment_id
    # @param import_source_http_request [ImportSourceHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :durability 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @return [IngestOutcome]
    def import_source(tenant_id, project_id, environment_id, import_source_http_request, opts = {})
      data, _status_code, _headers = import_source_with_http_info(tenant_id, project_id, environment_id, import_source_http_request, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param environment_id [String] environment_id
    # @param import_source_http_request [ImportSourceHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :durability 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @return [Array<(IngestOutcome, Integer, Hash)>] IngestOutcome data, response status code and response headers
    def import_source_with_http_info(tenant_id, project_id, environment_id, import_source_http_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.import_source ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IngestApi.import_source"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling IngestApi.import_source"
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling IngestApi.import_source"
      end
      # verify the required parameter 'import_source_http_request' is set
      if @api_client.config.client_side_validation && import_source_http_request.nil?
        fail ArgumentError, "Missing the required parameter 'import_source_http_request' when calling IngestApi.import_source"
      end
      # resource path
      local_var_path = '/v1/import/{tenant_id}/{project_id}/{environment_id}'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'environment_id' + '}', CGI.escape(environment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'durability'] = opts[:'durability'] if !opts[:'durability'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(import_source_http_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.import_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#import_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param native_ingest_request [NativeIngestRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :durability 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [IngestOutcome]
    def ingest_native(native_ingest_request, opts = {})
      data, _status_code, _headers = ingest_native_with_http_info(native_ingest_request, opts)
      data
    end

    # @param native_ingest_request [NativeIngestRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :durability 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(IngestOutcome, Integer, Hash)>] IngestOutcome data, response status code and response headers
    def ingest_native_with_http_info(native_ingest_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.ingest_native ...'
      end
      # verify the required parameter 'native_ingest_request' is set
      if @api_client.config.client_side_validation && native_ingest_request.nil?
        fail ArgumentError, "Missing the required parameter 'native_ingest_request' when calling IngestApi.ingest_native"
      end
      # resource path
      local_var_path = '/v1/traces/native'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'durability'] = opts[:'durability'] if !opts[:'durability'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(native_ingest_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.ingest_native",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#ingest_native\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param environment_id [String] environment_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :durability 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [OtlpIngestOutcome]
    def ingest_otlp(tenant_id, project_id, environment_id, opts = {})
      data, _status_code, _headers = ingest_otlp_with_http_info(tenant_id, project_id, environment_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param environment_id [String] environment_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :durability 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(OtlpIngestOutcome, Integer, Hash)>] OtlpIngestOutcome data, response status code and response headers
    def ingest_otlp_with_http_info(tenant_id, project_id, environment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.ingest_otlp ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IngestApi.ingest_otlp"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling IngestApi.ingest_otlp"
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling IngestApi.ingest_otlp"
      end
      # resource path
      local_var_path = '/v1/otlp/{tenant_id}/{project_id}/{environment_id}/v1/traces'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'environment_id' + '}', CGI.escape(environment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'durability'] = opts[:'durability'] if !opts[:'durability'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OtlpIngestOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.ingest_otlp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#ingest_otlp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param trace_id [String] trace_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [TraceIngestedReconcileReport]
    def reconcile_trace(tenant_id, project_id, trace_id, opts = {})
      data, _status_code, _headers = reconcile_trace_with_http_info(tenant_id, project_id, trace_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param trace_id [String] trace_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(TraceIngestedReconcileReport, Integer, Hash)>] TraceIngestedReconcileReport data, response status code and response headers
    def reconcile_trace_with_http_info(tenant_id, project_id, trace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.reconcile_trace ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IngestApi.reconcile_trace"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling IngestApi.reconcile_trace"
      end
      # verify the required parameter 'trace_id' is set
      if @api_client.config.client_side_validation && trace_id.nil?
        fail ArgumentError, "Missing the required parameter 'trace_id' when calling IngestApi.reconcile_trace"
      end
      # resource path
      local_var_path = '/v1/ingest/{tenant_id}/{project_id}/traces/{trace_id}/reconcile'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'trace_id' + '}', CGI.escape(trace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TraceIngestedReconcileReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.reconcile_trace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#reconcile_trace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param message_id [String] message_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :reset_attempts 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [DeadLetterReplayReport]
    def replay_dead_letter(tenant_id, project_id, message_id, opts = {})
      data, _status_code, _headers = replay_dead_letter_with_http_info(tenant_id, project_id, message_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param message_id [String] message_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :reset_attempts 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(DeadLetterReplayReport, Integer, Hash)>] DeadLetterReplayReport data, response status code and response headers
    def replay_dead_letter_with_http_info(tenant_id, project_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.replay_dead_letter ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IngestApi.replay_dead_letter"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling IngestApi.replay_dead_letter"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling IngestApi.replay_dead_letter"
      end
      # resource path
      local_var_path = '/v1/ingest/{tenant_id}/{project_id}/dead-letters/{message_id}/replay'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reset_attempts'] = opts[:'reset_attempts'] if !opts[:'reset_attempts'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeadLetterReplayReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.replay_dead_letter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#replay_dead_letter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
