=begin
#Beater API

#Agent observability, evaluation, gating, and human-review APIs for Beater

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module BeaterClient
  class ReviewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param create_review_queue_http_request [CreateReviewQueueHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [ReviewQueue]
    def create_review_queue(tenant_id, project_id, create_review_queue_http_request, opts = {})
      data, _status_code, _headers = create_review_queue_with_http_info(tenant_id, project_id, create_review_queue_http_request, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param create_review_queue_http_request [CreateReviewQueueHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(ReviewQueue, Integer, Hash)>] ReviewQueue data, response status code and response headers
    def create_review_queue_with_http_info(tenant_id, project_id, create_review_queue_http_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.create_review_queue ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReviewsApi.create_review_queue"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ReviewsApi.create_review_queue"
      end
      # verify the required parameter 'create_review_queue_http_request' is set
      if @api_client.config.client_side_validation && create_review_queue_http_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_review_queue_http_request' when calling ReviewsApi.create_review_queue"
      end
      # resource path
      local_var_path = '/v1/review-queues/{tenant_id}/{project_id}'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_review_queue_http_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewQueue'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReviewsApi.create_review_queue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#create_review_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param enqueue_review_task_from_trace_http_request [EnqueueReviewTaskFromTraceHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [ReviewTask]
    def enqueue_review_task_from_trace(tenant_id, project_id, queue_id, enqueue_review_task_from_trace_http_request, opts = {})
      data, _status_code, _headers = enqueue_review_task_from_trace_with_http_info(tenant_id, project_id, queue_id, enqueue_review_task_from_trace_http_request, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param enqueue_review_task_from_trace_http_request [EnqueueReviewTaskFromTraceHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(ReviewTask, Integer, Hash)>] ReviewTask data, response status code and response headers
    def enqueue_review_task_from_trace_with_http_info(tenant_id, project_id, queue_id, enqueue_review_task_from_trace_http_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.enqueue_review_task_from_trace ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReviewsApi.enqueue_review_task_from_trace"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ReviewsApi.enqueue_review_task_from_trace"
      end
      # verify the required parameter 'queue_id' is set
      if @api_client.config.client_side_validation && queue_id.nil?
        fail ArgumentError, "Missing the required parameter 'queue_id' when calling ReviewsApi.enqueue_review_task_from_trace"
      end
      # verify the required parameter 'enqueue_review_task_from_trace_http_request' is set
      if @api_client.config.client_side_validation && enqueue_review_task_from_trace_http_request.nil?
        fail ArgumentError, "Missing the required parameter 'enqueue_review_task_from_trace_http_request' when calling ReviewsApi.enqueue_review_task_from_trace"
      end
      # resource path
      local_var_path = '/v1/review-queues/{tenant_id}/{project_id}/{queue_id}/tasks/from-trace'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'queue_id' + '}', CGI.escape(queue_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enqueue_review_task_from_trace_http_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewTask'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReviewsApi.enqueue_review_task_from_trace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#enqueue_review_task_from_trace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param [Hash] opts the optional parameters
    # @option opts [ReviewTaskState] :state 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<ReviewTask>]
    def list_review_tasks(tenant_id, project_id, queue_id, opts = {})
      data, _status_code, _headers = list_review_tasks_with_http_info(tenant_id, project_id, queue_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param [Hash] opts the optional parameters
    # @option opts [ReviewTaskState] :state 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(Array<ReviewTask>, Integer, Hash)>] Array<ReviewTask> data, response status code and response headers
    def list_review_tasks_with_http_info(tenant_id, project_id, queue_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.list_review_tasks ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReviewsApi.list_review_tasks"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ReviewsApi.list_review_tasks"
      end
      # verify the required parameter 'queue_id' is set
      if @api_client.config.client_side_validation && queue_id.nil?
        fail ArgumentError, "Missing the required parameter 'queue_id' when calling ReviewsApi.list_review_tasks"
      end
      # resource path
      local_var_path = '/v1/review-queues/{tenant_id}/{project_id}/{queue_id}/tasks'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'queue_id' + '}', CGI.escape(queue_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ReviewTask>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReviewsApi.list_review_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#list_review_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param task_id [String] task_id
    # @param annotation_id [String] annotation_id
    # @param promote_review_annotation_http_request [PromoteReviewAnnotationHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [DatasetCase]
    def promote_review_annotation(tenant_id, project_id, queue_id, task_id, annotation_id, promote_review_annotation_http_request, opts = {})
      data, _status_code, _headers = promote_review_annotation_with_http_info(tenant_id, project_id, queue_id, task_id, annotation_id, promote_review_annotation_http_request, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param task_id [String] task_id
    # @param annotation_id [String] annotation_id
    # @param promote_review_annotation_http_request [PromoteReviewAnnotationHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(DatasetCase, Integer, Hash)>] DatasetCase data, response status code and response headers
    def promote_review_annotation_with_http_info(tenant_id, project_id, queue_id, task_id, annotation_id, promote_review_annotation_http_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.promote_review_annotation ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReviewsApi.promote_review_annotation"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ReviewsApi.promote_review_annotation"
      end
      # verify the required parameter 'queue_id' is set
      if @api_client.config.client_side_validation && queue_id.nil?
        fail ArgumentError, "Missing the required parameter 'queue_id' when calling ReviewsApi.promote_review_annotation"
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling ReviewsApi.promote_review_annotation"
      end
      # verify the required parameter 'annotation_id' is set
      if @api_client.config.client_side_validation && annotation_id.nil?
        fail ArgumentError, "Missing the required parameter 'annotation_id' when calling ReviewsApi.promote_review_annotation"
      end
      # verify the required parameter 'promote_review_annotation_http_request' is set
      if @api_client.config.client_side_validation && promote_review_annotation_http_request.nil?
        fail ArgumentError, "Missing the required parameter 'promote_review_annotation_http_request' when calling ReviewsApi.promote_review_annotation"
      end
      # resource path
      local_var_path = '/v1/review-queues/{tenant_id}/{project_id}/{queue_id}/tasks/{task_id}/annotations/{annotation_id}/promote'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'queue_id' + '}', CGI.escape(queue_id.to_s)).sub('{' + 'task_id' + '}', CGI.escape(task_id.to_s)).sub('{' + 'annotation_id' + '}', CGI.escape(annotation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(promote_review_annotation_http_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatasetCase'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReviewsApi.promote_review_annotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#promote_review_annotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param task_id [String] task_id
    # @param submit_review_annotation_http_request [SubmitReviewAnnotationHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [ReviewAnnotation]
    def submit_review_annotation(tenant_id, project_id, queue_id, task_id, submit_review_annotation_http_request, opts = {})
      data, _status_code, _headers = submit_review_annotation_with_http_info(tenant_id, project_id, queue_id, task_id, submit_review_annotation_http_request, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param project_id [String] project_id
    # @param queue_id [String] queue_id
    # @param task_id [String] task_id
    # @param submit_review_annotation_http_request [SubmitReviewAnnotationHttpRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(ReviewAnnotation, Integer, Hash)>] ReviewAnnotation data, response status code and response headers
    def submit_review_annotation_with_http_info(tenant_id, project_id, queue_id, task_id, submit_review_annotation_http_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.submit_review_annotation ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReviewsApi.submit_review_annotation"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ReviewsApi.submit_review_annotation"
      end
      # verify the required parameter 'queue_id' is set
      if @api_client.config.client_side_validation && queue_id.nil?
        fail ArgumentError, "Missing the required parameter 'queue_id' when calling ReviewsApi.submit_review_annotation"
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling ReviewsApi.submit_review_annotation"
      end
      # verify the required parameter 'submit_review_annotation_http_request' is set
      if @api_client.config.client_side_validation && submit_review_annotation_http_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_review_annotation_http_request' when calling ReviewsApi.submit_review_annotation"
      end
      # resource path
      local_var_path = '/v1/review-queues/{tenant_id}/{project_id}/{queue_id}/tasks/{task_id}/annotations'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'project_id' + '}', CGI.escape(project_id.to_s)).sub('{' + 'queue_id' + '}', CGI.escape(queue_id.to_s)).sub('{' + 'task_id' + '}', CGI.escape(task_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_review_annotation_http_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewAnnotation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReviewsApi.submit_review_annotation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#submit_review_annotation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
