=begin
#Beater API

#Agent observability, evaluation, gating, and human-review APIs for Beater

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module BeaterClient
  class SpansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] tenant_id
    # @param trace_id [String] trace_id
    # @param span_id [String] span_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :unmask 
    # @option opts [String] :reason 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [CanonicalSpan]
    def get_span(tenant_id, trace_id, span_id, opts = {})
      data, _status_code, _headers = get_span_with_http_info(tenant_id, trace_id, span_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param trace_id [String] trace_id
    # @param span_id [String] span_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :unmask 
    # @option opts [String] :reason 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(CanonicalSpan, Integer, Hash)>] CanonicalSpan data, response status code and response headers
    def get_span_with_http_info(tenant_id, trace_id, span_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SpansApi.get_span ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SpansApi.get_span"
      end
      # verify the required parameter 'trace_id' is set
      if @api_client.config.client_side_validation && trace_id.nil?
        fail ArgumentError, "Missing the required parameter 'trace_id' when calling SpansApi.get_span"
      end
      # verify the required parameter 'span_id' is set
      if @api_client.config.client_side_validation && span_id.nil?
        fail ArgumentError, "Missing the required parameter 'span_id' when calling SpansApi.get_span"
      end
      # resource path
      local_var_path = '/v1/spans/{tenant_id}/{trace_id}/{span_id}'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'trace_id' + '}', CGI.escape(trace_id.to_s)).sub('{' + 'span_id' + '}', CGI.escape(span_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'unmask'] = opts[:'unmask'] if !opts[:'unmask'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CanonicalSpan'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SpansApi.get_span",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SpansApi#get_span\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param trace_id [String] trace_id
    # @param span_id [String] span_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :unmask 
    # @option opts [String] :reason 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [SpanIoResponse]
    def get_span_io(tenant_id, trace_id, span_id, opts = {})
      data, _status_code, _headers = get_span_io_with_http_info(tenant_id, trace_id, span_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param trace_id [String] trace_id
    # @param span_id [String] span_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :unmask 
    # @option opts [String] :reason 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(SpanIoResponse, Integer, Hash)>] SpanIoResponse data, response status code and response headers
    def get_span_io_with_http_info(tenant_id, trace_id, span_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SpansApi.get_span_io ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SpansApi.get_span_io"
      end
      # verify the required parameter 'trace_id' is set
      if @api_client.config.client_side_validation && trace_id.nil?
        fail ArgumentError, "Missing the required parameter 'trace_id' when calling SpansApi.get_span_io"
      end
      # verify the required parameter 'span_id' is set
      if @api_client.config.client_side_validation && span_id.nil?
        fail ArgumentError, "Missing the required parameter 'span_id' when calling SpansApi.get_span_io"
      end
      # resource path
      local_var_path = '/v1/spans/{tenant_id}/{trace_id}/{span_id}/io'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'trace_id' + '}', CGI.escape(trace_id.to_s)).sub('{' + 'span_id' + '}', CGI.escape(span_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'unmask'] = opts[:'unmask'] if !opts[:'unmask'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SpanIoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SpansApi.get_span_io",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SpansApi#get_span_io\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
