=begin
#Beater API

#Agent observability, evaluation, gating, and human-review APIs for Beater

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
Generator version: 7.11.0

=end

require 'cgi'

module BeaterClient
  class TracesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] tenant_id
    # @param trace_id [String] trace_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :unmask 
    # @option opts [String] :reason 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [TraceView]
    def get_trace(tenant_id, trace_id, opts = {})
      data, _status_code, _headers = get_trace_with_http_info(tenant_id, trace_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param trace_id [String] trace_id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :unmask 
    # @option opts [String] :reason 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(TraceView, Integer, Hash)>] TraceView data, response status code and response headers
    def get_trace_with_http_info(tenant_id, trace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TracesApi.get_trace ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TracesApi.get_trace"
      end
      # verify the required parameter 'trace_id' is set
      if @api_client.config.client_side_validation && trace_id.nil?
        fail ArgumentError, "Missing the required parameter 'trace_id' when calling TracesApi.get_trace"
      end
      # resource path
      local_var_path = '/v1/traces/{tenant_id}/{trace_id}'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'trace_id' + '}', CGI.escape(trace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'unmask'] = opts[:'unmask'] if !opts[:'unmask'].nil?
      query_params[:'reason'] = opts[:'reason'] if !opts[:'reason'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TraceView'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TracesApi.get_trace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TracesApi#get_trace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] tenant_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @option opts [String] :environment_id 
    # @option opts [String] :trace_id 
    # @option opts [String] :kind 
    # @option opts [String] :status 
    # @option opts [String] :started_after 
    # @option opts [String] :started_before 
    # @option opts [String] :model 
    # @option opts [String] :release 
    # @option opts [Integer] :min_cost_micros 
    # @option opts [Integer] :max_cost_micros 
    # @option opts [Integer] :min_latency_ms 
    # @option opts [Integer] :max_latency_ms 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [PageRunSummary]
    def list_traces(tenant_id, opts = {})
      data, _status_code, _headers = list_traces_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] tenant_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @option opts [String] :environment_id 
    # @option opts [String] :trace_id 
    # @option opts [String] :kind 
    # @option opts [String] :status 
    # @option opts [String] :started_after 
    # @option opts [String] :started_before 
    # @option opts [String] :model 
    # @option opts [String] :release 
    # @option opts [Integer] :min_cost_micros 
    # @option opts [Integer] :max_cost_micros 
    # @option opts [Integer] :min_latency_ms 
    # @option opts [Integer] :max_latency_ms 
    # @option opts [Integer] :limit 
    # @option opts [String] :cursor 
    # @option opts [String] :authorization Bearer API token for strict auth
    # @option opts [String] :x_beater_api_key API key alternative for strict auth
    # @option opts [String] :x_beater_project_id Strict-auth project scope
    # @option opts [String] :x_beater_environment_id Strict-auth environment scope
    # @return [Array<(PageRunSummary, Integer, Hash)>] PageRunSummary data, response status code and response headers
    def list_traces_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TracesApi.list_traces ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TracesApi.list_traces"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 0
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TracesApi.list_traces, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/traces/{tenant_id}'.sub('{' + 'tenant_id' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'environment_id'] = opts[:'environment_id'] if !opts[:'environment_id'].nil?
      query_params[:'trace_id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      query_params[:'kind'] = opts[:'kind'] if !opts[:'kind'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'started_after'] = opts[:'started_after'] if !opts[:'started_after'].nil?
      query_params[:'started_before'] = opts[:'started_before'] if !opts[:'started_before'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'release'] = opts[:'release'] if !opts[:'release'].nil?
      query_params[:'min_cost_micros'] = opts[:'min_cost_micros'] if !opts[:'min_cost_micros'].nil?
      query_params[:'max_cost_micros'] = opts[:'max_cost_micros'] if !opts[:'max_cost_micros'].nil?
      query_params[:'min_latency_ms'] = opts[:'min_latency_ms'] if !opts[:'min_latency_ms'].nil?
      query_params[:'max_latency_ms'] = opts[:'max_latency_ms'] if !opts[:'max_latency_ms'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?
      header_params[:'x-beater-api-key'] = opts[:'x_beater_api_key'] if !opts[:'x_beater_api_key'].nil?
      header_params[:'x-beater-project-id'] = opts[:'x_beater_project_id'] if !opts[:'x_beater_project_id'].nil?
      header_params[:'x-beater-environment-id'] = opts[:'x_beater_environment_id'] if !opts[:'x_beater_environment_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageRunSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TracesApi.list_traces",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TracesApi#list_traces\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
